In [78]:
#!pip3.9 install -U numpy
#!pip3.9 install --pre -U pycaret --user
# print("PyCaret Installed")

In [79]:
import numpy as np
import pandas as pd

In [80]:
tweets = pd.read_csv("cyberbullying_tweets.csv")
tweets

                                              tweet_text cyberbullying_type
0      In other words #katandandre, your food was cra...  not_cyberbullying
1      Why is #aussietv so white? #MKR #theblock #ImA...  not_cyberbullying
2      @XochitlSuckkks a classy whore? Or more red ve...  not_cyberbullying
3      @Jason_Gio meh. :P  thanks for the heads up, b...  not_cyberbullying
4      @RudhoeEnglish This is an ISIS account pretend...  not_cyberbullying
...                                                  ...                ...
47687  Black ppl aren't expected to do anything, depe...          ethnicity
47688  Turner did not withhold his disappointment. Tu...          ethnicity
47689  I swear to God. This dumb nigger bitch. I have...          ethnicity
47690  Yea fuck you RT @therealexel: IF YOURE A NIGGE...          ethnicity
47691  Bro. U gotta chill RT @CHILLShrammy: Dog FUCK ...          ethnicity

[47692 rows x 2 columns]

In [81]:
tweets["cyberbullying_type"].unique()

array(['not_cyberbullying', 'gender', 'religion', 'other_cyberbullying',
       'age', 'ethnicity'], dtype=object)

In [82]:
tweets20 = tweets.head(20000)

In [83]:
from pycaret.nlp import *
from pycaret.classification import *
from sklearn.feature_extraction.text import CountVectorizer

In [84]:
tf_vectorizer = CountVectorizer(min_df=.015, max_df=.8, max_features=5, ngram_range=[1, 3])

In [85]:
%time features = tf_vectorizer.fit_transform(tweets20['tweet_text'])
features

CPU times: user 3.64 s, sys: 87.6 ms, total: 3.73 s
Wall time: 3.81 s

<20000x5 sparse matrix of type '<class 'numpy.int64'>'
	with 29717 stored elements in Compressed Sparse Row format>

In [86]:
features_df = pd.DataFrame(features.toarray(), columns=tf_vectorizer.get_feature_names())
features_df

       and  is  the  to  you
0        0   0    0   0    0
1        0   1    0   0    0
2        0   0    0   0    0
3        0   0    1   0    0
4        0   2    0   1    0
...    ...  ..  ...  ..  ...
19995    1   0    0   1    0
19996    0   0    1   0    0
19997    0   2    2   0    2
19998    0   0    1   0    1
19999    0   0    1   0    1

[20000 rows x 5 columns]

In [87]:
df = pd.concat([features_df,tweets20['cyberbullying_type']],axis=1)
df

       and  is  the  to  you cyberbullying_type
0        0   0    0   0    0  not_cyberbullying
1        0   1    0   0    0  not_cyberbullying
2        0   0    0   0    0  not_cyberbullying
3        0   0    1   0    0  not_cyberbullying
4        0   2    0   1    0  not_cyberbullying
...    ...  ..  ...  ..  ...                ...
19995    1   0    0   1    0           religion
19996    0   0    1   0    0           religion
19997    0   2    2   0    2           religion
19998    0   0    1   0    1           religion
19999    0   0    1   0    1           religion

[20000 rows x 6 columns]

In [88]:
#Shuffle your dataset 
shuffle_df = df.sample(frac=1)

# Define a size for your train set 
train_size = int(0.9 * len(df))

# Split your dataset 
train_df = shuffle_df[:train_size]
test_df  = shuffle_df[train_size:]

In [89]:
numerical_features = list(features_df.columns)
%time temp = setup(data = train_df, target = 'cyberbullying_type',numeric_features=numerical_features)

CPU times: user 1.37 s, sys: 68.6 ms, total: 1.44 s
Wall time: 1.54 s

In [90]:
%time lightgbm = create_model('lightgbm')

Processing:   0%|          | 0/4 [00:00<?, ?it/s]

CPU times: user 2.61 s, sys: 351 ms, total: 2.96 s
Wall time: 11.2 s

In [91]:
%time tuned_lightgbm = tune_model(lightgbm)

Processing:   0%|          | 0/7 [00:00<?, ?it/s]

Fitting 10 folds for each of 10 candidates, totalling 100 fits
CPU times: user 5.79 s, sys: 244 ms, total: 6.03 s
Wall time: 28.1 s

In [106]:
#evaluate model
# predict_model(tuned_lightgbm)
predict_model(tuned_lightgbm,data=test_df)

,and,is,the,to,you,cyberbullying_type,prediction_label,prediction_score
0,1.0,0.0,1.0,2.0,0.0,gender,gender,0.4879
1,0.0,1.0,0.0,0.0,0.0,not_cyberbullying,not_cyberbullying,0.4963
2,0.0,0.0,0.0,0.0,0.0,not_cyberbullying,not_cyberbullying,0.5922
3,1.0,0.0,2.0,0.0,2.0,gender,religion,0.5749
4,0.0,0.0,1.0,4.0,0.0,gender,religion,0.4232
...,...,...,...,...,...,...,...,...
1995,0.0,0.0,0.0,0.0,0.0,not_cyberbullying,not_cyberbullying,0.5922
1996,0.0,0.0,0.0,0.0,0.0,not_cyberbullying,not_cyberbullying,0.5922
1997,0.0,0.0,0.0,2.0,6.0,gender,religion,0.5349
1998,0.0,3.0,0.0,0.0,0.0,religion,gender,0.4483
1999,0.0,0.0,0.0,0.0,0.0,gender,not_cyberbullying,0.5922

In [97]:
compare_models()

Processing:   0%|          | 0/61 [00:00<?, ?it/s]

GradientBoostingClassifier(ccp_alpha=0.0, criterion='friedman_mse', init=None,
                           learning_rate=0.1, loss='log_loss', max_depth=3,
                           max_features=None, max_leaf_nodes=None,
                           min_impurity_decrease=0.0, min_samples_leaf=1,
                           min_samples_split=2, min_weight_fraction_leaf=0.0,
                           n_estimators=100, n_iter_no_change=None,
                           random_state=487, subsample=1.0, tol=0.0001,
                           validation_fraction=0.1, verbose=0,
                           warm_start=False)